@import url(./reset.css);

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --app-blue: #0d5c7f;
  --app-blue-hover: #364ee6;
  --app-grey: #fafafa;
  --app-light-white: #f1f1f1;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

/* BODY */

body {
  height: 100vh;
  background: url(../images/bg1.jpg) no-repeat center center / cover;
  display: grid;
  align-items: center;
}

#error-message {
  color: red;
  font-weight: bold;
}

.contact h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.c-name {
  color: var(--app-blue);
  font-weight: 700;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}
.page3-box {
  align-items: center;
  padding: 20px 0;
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translate(-100%);
}

.page3-box-1 {
  align-items: center;
  padding: 20px 0;
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.contact {
  width: 100%;
  display: flex;
  background-color: #fff;
  margin: 5% 0px;
  border-radius: 10px;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px;
}

.contact-right {
  background: url(../images/bg.jpg) no-repeat center center / cover;

  flex-basis: 40%;
  padding: 40px;
  border-radius: 10px;
}
.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  width: 400px;
  border: 1px solid #0d5c7f;
  outline: none;
  padding: 8px;
  /* box-shadow: 1px 1px #555; */
  border-radius: 5px;
}

label {
  margin-bottom: 6px;
  display: block;
  color: var(--app-blue);
  font-weight: 600;
  font-size: 18px;
}

.btn {
  display: flex;
  gap: 30px;
}

.btn-1 {
  cursor: pointer;
  padding: 10px 35px;
  font-size: 16px;
  background-color: var(--app-blue);
  color: #fcfcfc;
  border-radius: 5px;
  margin-top: 20px;
  outline: none;
}
.btn-1:hover {
  box-shadow: 0 0 5px 2px rgb(158, 158, 158);

  cursor: pointer;
}
.btn-2 {
  cursor: pointer;
  padding: 10px 35px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #1b1c1e;
}
.btn-2:hover {
  box-shadow: 0 0 5px 2px rgb(158, 158, 158);

  cursor: pointer;
}
.contact-right h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}

tr td:first-child {
  padding-right: 20px;
  font-size: 18px;
  color: var(--app-dark-bg);
  font-weight: 600;
}
tr td {
  padding: 10px;
  font-size: 18px;
  color: var(--app-light-white);
}

.social {
  width: 264px;
  display: flex;
  justify-content: space-between;
}

.social a {
  width: 35px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 30px 0px 0px 0px;
  color: #fff;
  background-color: var(--app-blue);
  text-decoration: none;
  font-size: 20px;
  line-height: 55px;
}

.social a:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* RESPONSIVE */

@media (max-width: 600px) {
  .contact-head h1 {
    font-size: 30px;
  }
  .section-title h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    gap: 20px;
  }

  .contact-right {
    display: none;
  }
}

@media (max-width: 480px) {
  .contact-right {
    padding: 20px;
  }
  .contact-left {
    padding: 20px;
  }
  .end p {
    font-size: 16px;
  }
}
